<div class="contain-home">
  <div class="contain-inner">
    <img src="https://images.twinkl.co.uk/tw1n/image/private/t_630/u/ux/twinkl-video-games-2_ver_1.jpg" alt="logo">
  </div>
  <div class="contain-inner">
    <h2>Word Quest</h2>
    <p>Study English with this fun RPG game!</p>
    <%= link_to "Time to play the game!", root_path, class: "btn btn-ghost" %>
  </div>
</div>
<%= render "shared/footer" %>
