.content-center {
  display: flex;
  align-items: center;
  height: 100vh; /* ページの高さいっぱいに表示する場合 */
}

// .contain-home {
//   display: flex;
//   text-align: center；
//   // position:relative;
// }

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.contain-home {
  flex-grow: 1;
  display: flex;
  align-items: center;
}


.contain-home.mx-3 {
  position:relative;
}

.contain-inner {
margin-left:100px;
align-self: center;
// position: relative;
}

.btn-ghost {
  color: #fff;
  font-weight: bold;
  text-align: center;
  background-color:  #000;
  border: 1px solid  #000;
  padding: 8px 24px;
  border-radius: 50px;
  transition: opacity 0.3s ease;
}
